@using Radzen;
@using Radzen.Blazor;

<RadzenContent style="background-color: #52504b; padding: 0; position: absolute; width: 100%;">
    <div class="header-wrapper" style="position: relative;">
        <div>
            <RadzenHeading Size="H3" Text="TEST" Style="text-transform: uppercase; color: white; font-weight: 700; padding: 8px; margin: 0;" />
        </div>
        
        <div style="position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
            <RadzenButton Text="Start" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" />
        </div>
    </div>
</RadzenContent>