@using Radzen;
@using Radzen.Blazor;
@using Microsoft.AspNetCore.Http.Extensions

<RadzenContent style="background-color: #52504b; padding: 0; width: 100%;">
    <div class="header-wrapper" style="position: relative;">
        <div>
            <RadzenHeading Size="H3" Text="TEST" Style="text-transform: uppercase; color: white; font-weight: 700; padding: 8px; margin: 0;" />
        </div>
    </div>
</RadzenContent>